@model 竞赛老师系统.SCS_TeacherLogin

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>SCS_TeacherLogin</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.姓名)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.姓名)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.职工号)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.职工号)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.密码)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.密码)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.激活状态)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.激活状态)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
