@model IEnumerable<竞赛老师系统.SCS_TeacherLogin>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.姓名)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.职工号)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.密码)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.激活状态)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.姓名)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.职工号)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.密码)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.激活状态)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
