@model 竞赛老师系统.SCS_Teacher

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>SCS_Teacher</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.姓名)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.姓名)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.职工号)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.职工号)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.手机号码)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.手机号码)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.邮箱)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.邮箱)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.办公地址)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.办公地址)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
